<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-7">
      <h2 class = "my-4">🌼このページを作った思い🌼</h2>
      <p class ="mainmoji">
      “みんなで手と手をつないで”――。
      </p>
      <p class ="setumeibun">
        みなさん、こんにちは。<br>
        このページを作った<span class="bigtext">「Nono」</span>です。<br>
        私はエンジニアを志望して就活していた時に
        “女子学生”だけが見られる就活口コミサイトがあったらいいのに、
        という思いを抱いたことからこのサイトを作りました。
        少しでもこのサイトを訪れた方のお役に立てれば幸いです。<br>
    
        サイトのコンセプトは“みんなで手と手をつないで”――です。<br>

      
        就活情報は自分で調べて自分で活用している人も多いと思います。
        サイトに情報を書き込むだけで時間を取られて大変、
        と思う方もいるかもしれません。<br>
        しかし、私は学生生活を通して、いつも誰かに助けられ、
        私もクラスメートに協力できることはしてきました。
        そのことで学生生活のいくつもの壁を乗り越えることができたと思います。
        そんな「手と手をつないで」乗り越えてきた学生生活そのままを
        このサイトでも具現化できたらと思っています。<br>
        あなたも、「自分の情報が誰かのためになるかも」、
        そして、「誰かの情報が自分の役に立つかも」ーー<br>
        そんな思いでサイトを使っていただけたら嬉しいです。
      </p>
      <h2 class = "my-4">🌼このページの使い方🌼</h2>
      <p class ="setumeibun">
      ① 会員登録をする<br>
      ② 口コミ情報を書き込む<br>
      ③ ほかの人の口コミ情報を見る
      </p>
      <p class ="setumeibun">
      ① 会員登録をする<br>
      まずは、会員登録をお願いします。このサイトは大学のメールアドレスで認証した人だけが登録できます。<br>
      signupから登録お願いいたします。
      登録すると改良中のため英語でメッセージが出ますが恐らく大学のメアドに認証メールが送られると思うのでそちらから登録よろしくお願いいたします。<br>
      登録すると、書き込みができるようになり、ほかの人の口コミ情報も見られるようになります。<br>
      🌸迷惑メールに送られる場合もあるため確認お願いいたします。<br>
      🌸6/4　なるべく早く日本語にします🌸
      </p>
      <p class ="setumeibun">
      ② 口コミ情報を書き込む<br>
      無事、会員登録ができたら書き込みができるようになります。新規投稿欄のtitleに研究室や企業名などを書き本文を入力したらCreate Blogを押して書き込みができます。
      </p>
      <p class ="setumeibun">
      ③ ほかの人の口コミ情報を見る<br>
      口コミ情報はトップページでは最新の書き込みから順に表示されています。
      企業名やユーザーのニックネームなどを検索窓に入力いただくことで自分の知りたい情報を検索することができます。andmoreを押すと口コミ詳細を確認できます。<br>
      口コミ詳細に「いいね」ボタンがあるので、参考になったと思われたら、ぜひ「いいね」ボタンを押してください。情報を書き込んでくださった方への感謝が伝えられます。
      </p>
      <h2 class = "my-4">🌼Geekちゃんの由来🌼</h2>
      <p class ="setumeibun">
      Web・IT-Tech業界のエンジニアのことをギーク(Geek)と表現するそうです。<br>
      Geekを目指す女子達ということで「ちゃん」をつけてGeekchanとつけました。
      </p>
      </div>
      <div class="col-md-5 text-center">
      <h2 class = "my-4">作った人</h2>
      <%= image_tag 'nonochan3.jpg', size: "150x150" %>
      </div>
    </div>
  </div>
</main>
