<div class="scene">
  <img src="tree.png" class="tree" alt="木" />
  <img src="flower.png" class="flower" alt="花" />
  <img src="butterfly.png" class="butterfly" alt="蝶々" />
</div>



<!--<footer style="background-image: url('<%= asset_path "小花柄.png" %>');">
</footer> -->
 
